<div class="container-fluid">

    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4>การชำระ</h4>
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">บริการ</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">การชำระ</a></li>
                </ol>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-xl-12">
            <div class="card">
                <div class="card-body card-body-table">
                    <h4 class="card-title mb-4">ตารางประวัติการชำระ</h4>

                    <div class="table-rep-plugin">
                        <div class="table-responsive mb-0" data-pattern="priority-columns">
                            <table id="tech-companies-1" class="table-data  table-striped">
                                <thead>
                                    <tr class="headerRow">
                                        <th></th>
                                        <th>วันที่ทำรายการ</th>
                                        <th>แพ็คเกจ</th>
                                        <th>ราคา</th>
                                        <th>วันที่ยืนยัน</th>
                                        <th>สถานะ</th>
                                    </tr>
                                </thead>
                                @*<tbody>
                                        <tr>
                                            <th>1</th>
                                            <td width="50px">01/01/2565</td>
                                            <td>Free</td>
                                            <td>0.00</td>
                                            <td>01/01/2565</td>
                                            <td>รอยืนยัน</td>
                                        </tr>
                                        <tr>
                                            <th>2</th>
                                            <td width="50px">01/01/2565</td>
                                            <td>Free</td>
                                            <td>0.00</td>
                                            <td>01/01/2565</td>
                                            <td>รอยืนยัน</td>
                                        </tr>
                                        <tr>
                                            <th>3</th>
                                            <td width="50px">01/01/2565</td>
                                            <td>Free</td>
                                            <td>0.00</td>
                                            <td>01/01/2565</td>
                                            <td>รอยืนยัน</td>
                                        </tr>
                                        <tr>
                                            <th>4</th>
                                            <td width="50px">01/01/2565</td>
                                            <td>Free</td>
                                            <td>0.00</td>
                                            <td>01/01/2565</td>
                                            <td>รอยืนยัน</td>
                                        </tr>
                                    </tbody>*@
                                <tbody>
                                    <tr class="text-center ">
                                        <td colspan="6" class="empty">
                                            ไม่พบรายการ
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <hr />
                            <div class="d-flex justify-content-end">
                                <div data-v-e8100c36="" class="numberShow">
                                    <p class="mr-2 mx-2 mb-0 font-size-16">แสดง</p>
                                    <select class="day form-control form-select form-select-sm" style="width: auto;">
                                        <option selected value="10">10</option>
                                        <option value="50">50</option>
                                        <option value="3">100</option>
                                    </select>
                                    <div data-v-76901dc6="" class="selectInputDropdown noLabel" style="width: 100%;">
                                        <p class="mr-2 mx-2 mb-0 font-size-16">รายการ</p>
                                    </div>
                                </div>
                                <div data-v-e8100c36="" class="page-data">
                                    <div data-v-e8100c36="" class="prevArrow disabled">
                                        <i data-v-e8100c36="" class="fa fa-chevron-left"></i>
                                    </div>
                                    <p data-v-e8100c36="" class="mr-2 mx-2 mb-0 font-size-16">หน้า</p>
                                    <select class="day form-control form-select form-select-sm" style="width: auto;"><option value=""></option><option selected value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option></select>
                                    <div data-v-e8100c36="" class="nextArrow disabled"><i data-v-e8100c36="" class="fa fa-chevron-right"></i></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div> <!-- container-fluid -->
</div>
