@{
    Layout = null;
}


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4>จัดการข้อมูล</h4>
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">ตั้งค่า</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">จัดการข้อมูล</a></li>
                </ol>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 d-flex gap-1">
            <h5 class="font-weight-bold mt-3">ข้อมูลปริมาณเอกสาร</h5>
            <div class="d-flex flex-wrap  justify-content-end">
                <button type="button" class="btn btn-info waves-effect waves-light px-3 dropdown-toggle  mx-2 ">
                    <i class="mdi mdi-plus"></i> อัพทเกรดแพ็คเกจ
                </button>
            </div>
        </div>
    </div>
    <div class="row py-3">
        <div class="col-xl-3 col-sm-6">
            <div class="card mini-stat">
                <div class="card-body mini-stat-img">
                    <div class="mini-stat-icon">
                        <i class="mdi mdi-file float-end text-black-50"></i>
                    </div>
                    <div class="text-black">
                        <h6 class="text-uppercase mb-1 font-size-16 text-search">จำนวนเอกสารทั้งหมด</h6>
                        <h2 class="mb-2 text-black">1,587</h2>
                        <span class="badge bg-info"> +11% </span>
                        <span class="ms-2">ข้อมูลเอกสารคำนวณจากวันที่ปัจจุบัน</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6">
            <div class="card mini-stat">
                <div class="card-body mini-stat-img">
                    <div class="mini-stat-icon">
                        <i class="mdi mdi-file float-end text-black-50"></i>
                    </div>
                    <div class="text-black">
                        <h6 class="text-uppercase mb-1 font-size-16 text-search">จำนวนเอกสารเดือนปัจจุบัน</h6>
                        <h2 class="mb-2 text-black">147</h2>
                        <span class="badge bg-danger"> -5% </span>
                        <span class="ms-2">ข้อมูลเอกสารคำนวณจากวันที่ปัจจุบัน</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6">
            <div class="card mini-stat">
                <div class="card-body mini-stat-img">
                    <div class="mini-stat-icon">
                        <i class="mdi mdi-file float-end text-black-50"></i>
                    </div>
                    <div class="text-black">
                        <h6 class="text-uppercase mb-1 font-size-16 text-search">จำนวนเอกสารเดือนก่อนหน้า</h6>
                        <h2 class="mb-2 text-black">211</h2>
                        <span class="ms-2">ข้อมูลเอกสารคำนวณจากวันที่สิ้นสุดเดือนก่อหนน้า</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-12 d-flex gap-1">
            <h5 class="font-weight-bold mt-3">ข้อมูลปริมาณพื้นที่</h5>
        </div>
    </div>
    <div class="row py-3">

        <div class="col-xl-3">
            <div class="card">
                <div class="card-body">
                    <h6 class="text-uppercase mb-1 font-size-16 text-search">พื้นที่จัดเก็บข้อมูล</h6>

                    <div class="row text-center mt-4">
                        <div class="col-4">
                            <h5 class="font-size-20">7.12 GB</h5>
                            <p class="text-muted">Used Space</p>
                        </div>
                        <div class="col-4">
                            <h5 class="font-size-20">3.88</h5>
                            <p class="text-muted">Free Space</p>
                        </div>
                        <div class="col-4">
                            <h5 class="font-size-20">10.00</h5>
                            <p class="text-muted">Total Space</p>
                        </div>
                    </div>

                    <div id="morris-donut-example" data-colors='["#f0f1f4","--bs-primary","--bs-info"]' class="morris-charts morris-charts-height" dir="ltr"></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="card">
                <div class="card-body">
                    <h6 class="text-uppercase mb-1 font-size-16 text-search">พื้นที่การใช้งาน</h6>

                    <div class="row text-center mt-4">
                        <div class="col-4">
                            <h5 class="font-size-20">7.12 GB</h5>
                            <p class="text-muted">เอกสาร</p>
                        </div>
                        <div class="col-4">
                            <h5 class="font-size-20">3.88</h5>
                            <p class="text-muted">ข้อมูล</p>
                        </div>
                        <div class="col-4">
                            <h5 class="font-size-20">10.00</h5>
                            <p class="text-muted">อื่นๆ</p>
                        </div>
                    </div>

                    <div id="morris-donut-example-1" data-colors='["#f0f1f4","--bs-primary","--bs-info"]' class="morris-charts morris-charts-height" dir="ltr"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>
