@section RenderScriptWithPage
    {
    <script src="~/assets/libs/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/libs/bootstrap-datepicker/bootstrap-datepicker.th.min.js"></script>
    <script>
        $('.form-element-input').change(function () {
            if ($(this).val()) {
                $(this).addClass('hasValue');
            } else {
                $(this).removeClass('hasValue');
            }
        });

        (function ($) {

            $('.dropdown1').select2();
            $('.dropdown2').select2();
            $('.dropdown3').select2();
            $('.dropdown4').select2();

            if ($("#inputreceivechaque-popup").length) {
                $('#inputreceivechaque-popup').datepicker({
                    enableOnReadonly: true,
                    todayHighlight: true,
                    autoclose: true
                });
            }

            $("#product_thumnail").addClass('dropify');
            //var publicpath_identity_picture = path;

            var drEvent = $('.dropify').dropify();
            //drEvent.on('dropify.afterClear', function (event, element) {
            //    $scope.DeleteImages = 1;
            //});
            drEvent = drEvent.data('dropify');
            drEvent.resetPreview();
            drEvent.clearElement();
            drEvent.settings.defaultFile = publicpath_identity_picture;
            drEvent.destroy();

            drEvent.init();

        //$('.dropify#identity_picture').dropify({
        //    defaultFile: publicpath_identity_picture
        //});

        })(jQuery);

      

    </script>

}

<div class="container-fluid">

    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4>อัพโหลดหลักฐานโอนเงิน</h4>
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">บริการ</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">อัพโหลดสลิปโอนเงิน</a></li>
                </ol>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-xl-12">
            <div class="card ">
                <div class="card-body card-form">

                    <div class="row">
                        <div class="col-md-9">
                            <h2 class="card-title mb-2">ข้อมูลรายการชำระเงิน</h2>
                        </div>
                        <!-- end col -->
                        <div class="col-lg-3 pl-0">
                            <div class="form-input ">
                                <select class="dropdown1 form-control" id="exampleFormControlSelect1">
                                    <option value="" class="text-muted" selected style="display:none">กรุณาเลือกเลขที่อ้างอิง</option>
                                    <option value="">001</option>
                                    <option value="">002</option>
                                    <option value="">003</option>
                                </select>
                                <label class="form-element-dropdown" for="name">เลขที่อ้างอิง</label>
                            </div>
                        </div>

                        <!-- end col -->
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="card-title mb-2 font-weight-bold">ข้อมูลแพ็คเกจ</h5>
                        </div>
                    </div>
                    <div class="table-rep-plugin">
                        <div class="table-responsive mb-0" data-pattern="priority-columns">
                            <table id="tech-companies-1" class="table-data  table-striped">
                                <thead>
                                    <tr class="headerRow">
                                        <th></th>
                                        <th>แพ็คเกจ</th>
                                        <th>ราคา</th>
                                        <th>จำนวน ( เดือน )</th>
                                        <th>วันที่ทำรายการ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>1</th>
                                        <td><span class=" font-size-18 font-weight-normal text-success">Profressional</span></td>
                                        <td>11,988.00</td>
                                        <td>12</td>
                                        <td>01/01/2565</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="card-title mb-2 font-weight-bold">ข้อมูลการโอนเงิน</h5>
                        </div>
                    </div>
                    <div class="row row-form">
                        <div class="col-lg-4 pl-0">
                            <div class="form-input ">
                                <select class="dropdown2 form-control" id="exampleFormControlSelect2">
                                    <option value="" class="text-muted" selected style="display:none">กรุณาเลือก</option>
                                    <option value="">โอนเงิน</option>
                                    <option value="">พร้อมเพย์</option>
                                </select>
                                <label class="form-element-dropdown" for="name">รูปแบบการชำระ</label>
                            </div>
                        </div>
                        <div class="col-lg-4 pl-0">
                            <div class="form-input">
                                <input id="name" class="form-element-input" type="input" placeholder="กรุณาระบุจำนวนเงิน เช่น 0.00" required />
                                <div class="form-element-bar"></div>
                                <label class="form-element-label" for="name">จำนวนเงิน (บาท)</label>
                            </div>
                        </div>
                    </div>
                    <div class="row row-form ">
                        <div class="col-lg-4 pl-0">
                            <div class="form-input">
                                <div id="inputreceivechaque-popup" class="input-group-date date datepicker no-border">
                                    <input type="text" class="form-element-input input-group-addon" onkeydown="return false">
                                    <div class="form-element-bar"></div>
                                    <label class="form-element-label" for="name">วันที่ทำรายการโอนเงิน</label>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-4 pl-0">
                            <div class="form-input">
                                <select class="dropdown3 form-control" id="exampleFormControlSelect32">
                                    <option value="" class="text-muted" selected style="display:none">กรุณาเลือก</option>
                                    <option value="">00</option>
                                    <option value="">01</option>
                                </select>
                                <label class="form-element-dropdown" for="name">เวลาที่ทำรายการ (ชั่วโมง)</label>
                            </div>
                        </div>
                        <div class="col-lg-4 pl-0">
                            <div class="form-input">
                                <select class="dropdown4 form-control" id="exampleFormControlSelect24">
                                    <option value="" class="text-muted" selected style="display:none">กรุณาเลือก</option>
                                    <option value="">00</option>
                                    <option value="">01</option>
                                </select>
                                <label class="form-element-dropdown" for="name">เวลาที่ทำรายการ (นาที)</label>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="card-title mb-2 font-weight-bold">รายละเอียดและหมายเหตุ</h5>
                        </div>
                    </div>
                    <div class="row row-form ">
                        <div class="col-lg-6 pl-0">
                            <div class="form-input">
                                <textarea rows="5" id="name" class="form-element-input form-element-input-textarea" type="input" placeholder="กรุณาระบุรายละเอียด" required></textarea>
                                <div class="form-element-bar"></div>
                                <label class="form-element-label" for="name">รายละเอียด</label>
                            </div>
                        </div>
                        <div class="col-lg-6 pl-0">
                            <div class="form-input">
                                <textarea rows="5" id="name" class="form-element-input form-element-input-textarea" type="input" placeholder="กรุณาระบุหมายเหตุ" required></textarea>
                                <div class="form-element-bar"></div>
                                <label class="form-element-label" for="name">หมายเหตุ</label>
                            </div>
                        </div>
                        @*<div class="col-lg-4 pl-0">
                <div class="form-input">
                    <input id="name" class="form-element-input" type="input" placeholder="Please fill in your name" required />
                    <div class="form-element-bar"></div>
                    <label class="form-element-label" for="name">เลขที่อ้างอิง</label>
                </div>
            </div>*@
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="card-title mb-2 font-weight-bold">แนบไฟล์เอกสารโอนเงิน</h5>
                        </div>
                        <div class="col-lg-12 pl-0">
                            <input id="product_thumnail" type="file" ngf-select="UploadFiles($files)"
                                   data-max-file-size="3M" data-allowed-file-extensions="jpg png jpeg" />
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-md-12">
                            <div class="d-flex flex-wrap gap-3 justify-content-end">
                                <button type="button" class="btn btn-light waves-effect px-5 py-2">ยกเลิก</button>
                                <button type="button" class="btn btn-primary waves-effect waves-light px-4 py-2 dropdown-toggle"
                                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >บันทึกข้อมูล <i class="mdi mdi-chevron-down"></i></button>

                                <div class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop1" style="">
                                    <a class="dropdown-item" href="#">บันทึก และทำรายการใหม่</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- container-fluid -->
</div>
