@{
    Layout = null;
}

<!-- Begin page -->
<div class="account-pages my-5 pt-sm-3" data-ng-init="init()">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="card overflow-hidden rounded-4">
                    <div class="card-body pt-0 rounded-4">

                        <h3 class="text-center mt-5 mb-4">
                            <a href="index.html" class="d-block auth-logo">
                                <img src="@Url.Content("~/")assets/images/logo-light.png" alt="" height="60" class="auth-logo-dark">
                                <img src="@Url.Content("~/")assets/images/logo-light.png" alt="" height="30" class="auth-logo-light">
                            </a>
                        </h3>

                        <div class="p-3">
                            <h2 class="text-muted font-size-24 mb-1 text-center">สร้างกิจการใหม่</h2>
                            <p class="text-muted text-center font-size-16">เริ่มต้นสร้างกิจการใหม่โดยการกรอกรายละเอียดให้ครบถ้วน<p>

                                <div class="form-horizontal mt-4">
                                    <div class="row mt-3">
                                        <div class="col-md-1">
                                        </div>
                                        <div class="col-lg-10 pl-0">
                                            <div class="form-input ">
                                                <select class="dropdown2 form-control" id="exampleFormControlSelect21" select2 ng-options="item as item.Name for item in Parameter.Model"
                                                        ng-model="Branch.SelectModel ">
                                                </select>
                                                <label class="form-element-dropdown" for="name">ประเภทนิติบุคคล</label>
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-1">
                                        </div>
                                        <div class="col-lg-10 pl-0">
                                            <div class="form-input">
                                                <input id="name" class="form-element-input form-element-input-show" type="text" placeholder="กรุณาระบุชื่อกิจการ" ng-model="Branch.Name " />
                                                <div class="form-element-bar"></div>
                                                <label class="form-element-label font-weight-bold" for="name">ชื่อกิจการ</label>
                                                <label class="form-element-required" for="name">* </label>
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-1">
                                        </div>
                                        <div class="col-lg-10 pl-0">
                                            <div class="form-input">
                                                <input id="name" class="form-element-input form-element-input-show" type="text" placeholder="กรุณาระบุชื่อกิจการ (En)" ng-model="Branch.NameEn " />
                                                <div class="form-element-bar"></div>
                                                <label class="form-element-label font-weight-bold" for="name">ชื่อกิจการ (En)</label>
                                                <label class="form-element-required" for="name">* </label>
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-1">
                                        </div>
                                        <div class="col-lg-10 pl-0">
                                            <div class="form-input">
                                                <input id="name" class="form-element-input form-element-input-show" type="text" placeholder="กรุณาระบุเลขที่ผู้เสียภาษี" ng-model="Branch.TaxId " />
                                                <div class="form-element-bar"></div>
                                                <label class="form-element-label font-weight-bold" for="name">เลขที่ผู้เสียภาษี</label>
                                                <label class="form-element-required" for="name">* </label>
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                        </div>
                                    </div>
                                    <div class="mb-3 row mt-3">
                                        <div class="col-md-1">
                                        </div>
                                        <div class="col-md-5">
                                            <div class="d-grid">
                                                <a class="text-search" ui-sref="login"><i class="mdi mdi-arrow-left-thick"></i>ย้อนกลับ</a>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="d-grid">
                                                <button type="button" class="btn btn-primary btn-lg waves-effect waves-light" ng-click="OnClickConfirm()">สร้างกิจการใหม่</button>
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END layout-wrapper -->
