@{
    Layout = null;
}

<div class="container-fluid" data-ng-init="init()">

    <div class="row">
        <div class="col-sm-6">
            <div class="page-title-box">
                <h4>ยืนยันงบการเงิน</h4>
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">งบการเงิน</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">ยืนยันงบการเงิน</a></li>
                </ol>
            </div>
        </div>
        <div class="col-md-6">
            <div class="d-flex flex-wrap  justify-content-end">
                <button type="button" class="btn btn-primary waves-effect waves-light px-3 dropdown-toggle  mx-2 py-2 " id="btnConfirm" ng-click="OnClickExport()">
                    <i class="mdi mdi-file-upload mx-2"></i> ดูงบการเงินออนไลน์
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12">
            <div class="card ">
                <div class="card-body card-form">

                    <div class="row">
                        <div class="col-md-9">
                            <h2 class="card-title mb-2">ข้อมูลการยืนยันงบการเงิน</h2>
                        </div>

                        <div class="col-lg-3 pl-0">
                            <div class="form-input">
                                <div id="inputstartperiod-popup" class="input-group-date date datepicker no-border">
                                    <input type="text" class="form-element-input input-group-addon" onkeydown="return false" ng-model="TableAdd.StartDate">
                                    <div class="form-element-bar"></div>
                                    <label class="form-element-label" for="name">วันที่ยืนยัน</label>
                                </div>
                            </div>
                        </div>

                        <!-- end col -->
                    </div>
                    <hr />
                    <div class="row  row-form ">
                        <div class="col-md-4">
                            <h4 class="card-title mb-2 font-weight-bold h4-flex"><i class="color-circle"></i>อัพโหลดลายเซ็นต์</h4>
                        </div>
                        <div class="col-lg-8 pl-0">
                            <input id="product_thumnail" type="file" ngf-select="UploadFiles($files)"
                                   data-max-file-size="3M" data-allowed-file-extensions="jpg png jpeg pdf xlsx xls" ng-disabled="TableAdd.DocumentListId != undefined" />
                        </div>
                    </div>
                    <hr />
                    <div class="row  row-form ">
                        <div class="col-md-4">
                            <h4 class="card-title mb-2 font-weight-bold h4-flex"><i class="color-circle"></i>อัพโหลดเอกสาร</h4>
                        </div>
                        <div class="col-lg-8 pl-0">
                            <input id="product_thumnail" type="file" ngf-select="UploadFiles($files)"
                                   data-max-file-size="3M" data-allowed-file-extensions="jpg png jpeg pdf xlsx xls" ng-disabled="TableAdd.DocumentListId != undefined" />
                        </div>
                    </div>
                    <hr />
                    <div class="row row-form ">
                        <div class="col-md-4">
                            <h4 class="card-title mb-2 font-weight-bold h4-flex"><i class="color-circle"></i>หมายเหตุเพิ่มเติม</h4>
                        </div>
                        <div class="col-lg-8 pl-0">
                            <div class="form-input">
                                <textarea rows="5" id="name" class="form-element-input form-element-input-textarea" type="text" placeholder="กรุณาระบุหมายเหตุ" ng-model="TableAdd.Remark"></textarea>
                                <div class="form-element-bar"></div>
                                <label class="form-element-label" for="name">หมายเหตุ (ถ้ามี)</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-md-12">
                            <div class="d-flex flex-wrap gap-3 justify-content-end">
                                <button type="button" class="btn btn-light waves-effect px-5 py-2" ui-sref="customer-documentlist">ยกเลิก</button>
                                <button type="button" class="btn btn-primary waves-effect waves-light px-4 py-2">
                                    ยืนยันงบการเงิน
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <div class="row" ng-show="IsReport"> 
        <div class="col-sm-6">
            <div class="page-title-box">
                <h4>รายงานงบการเงิน</h4>
            </div>
        </div>
        <div class="col-md-6">
            <div class="d-flex flex-wrap  justify-content-end">
                <button type="button" class="btn btn-success waves-effect waves-light px-3 dropdown-toggle  mx-2 py-2 " id="btnConfirm" ng-click="OnClickPrint()">
                    <i class="mdi mdi-file-upload mx-2"></i> ดาวน์โหลดงบการเงิน
                </button>
            </div>
        </div>
    </div>
     <div class="row" ng-show="IsReport">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <print id="">
                        @*layout="landscape"*@
                        <!-- Start Report -->
                        <page size="A4" id="divPrint0">
                            <div class="row">
                                <div class="col-12">
                                    <div class="draft-report-cover">
                                        <h4 class=""><strong>รายงานของผู้สอบบัญชีรับอนุญาต และ งบการเงิน</strong></h4>
                                        <h4 class=""><strong>ของ</strong></h4>
                                        <h4 class=""><strong>{{TablePeriod.Customer.Name}}</strong></h4>
                                        <h4 class="font-size-16"><strong>ณ วันที่ 31 ธันวาคม พ.ศ. 2566</strong></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="pagebreak"> </div>
                        </page>
                        <!-- End Report -->
                        <!-- Start Audit -->
                        <page size="A4" id="divPrint">
                            <div class="row">
                                <div class="col-12">
                                      <hr class="noPrint">
                                    <div class="draft-top-title">
                                        <h4 class="font-size-16"><strong>รายงานของผู้สอบบัญชีรับอนุญาต</strong></h4>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <address>
                                        <div class="row">
                                            <div class="col-12 draft-title"> <strong>เสนอ ผู้ถือหุ้นของ {{TablePeriod.Customer.Name}} </strong></div>
                                            <div class="col-12 draft-text-indent mt-3"> <strong>ความเห็น</strong></div>
                                            <div class="col-12 draft-text-indent">
                                                ข้าพเจ้าได้ตรวจสอบงบการเงินของบริษัท ตัวอย่างจำกัด (บริษัท) ซึ่งประกอบด้วยงบแสดงฐานะการเงิน ณ วันที่ 31 ธันวาคม พ.ศ. 2563 งบกำไรขาดทุน งบกระแสเงินสด และงบแสดงการเปลี่ยนแปลงส่วนของผู้ถือหุ้นสำหรับงวดบัญชีตั้งแต่วันที่ 31 มกราคม พ.ศ. 2563 (วันจดทะเบียนจัดตั้งบริษัท) ถึงวันที่ 31 ธันวาคม พ.ศ. 2563 (วันปิดบัญชี) และหมายเหตุประกอบงบการเงินรวมถึงหมายเหตุสรุปนโยบายการบัญชีที่สำคัญ
                                            </div>
                                            <div class="col-12 draft-text-indent">
                                                ข้าพเจ้าเห็นว่า งบการเงินข้างต้นนี้แสดงฐานะการเงินของบริษัท ตัวอย่างจำกัด ณ วันที่ 31 ธันวาคม พ.ศ. 2563 ผลการดำเนินงาน และกระแสเงินสด สำหรับงวดบัญชีตั้งแต่วันที่ 31 ธันวาคม พ.ศ. 2563 (วันจดทะเบียนจัดตั้งบริษัท) ถึงวันที่ 31 ธันวาคม พ.ศ. 2563 (วันปิดบัญชี) โดยถูกต้องตามที่ควรในสาระสำคัญตามมาตรฐานการรายงานทางการเงินสำหรับกิจการที่ไม่มีส่วนได้เสียสาธารณะ
                                            </div>

                                            <div class="col-12 draft-text-indent mt-3"> <strong>เกณฑ์ในการแสดงความเห็น</strong></div>
                                            <div class="col-12 draft-text-indent">
                                                ข้าพเจ้าได้ปฏิบัติงานตรวจสอบตามมาตรฐานการสอบบัญชี ความรับผิดชอบของข้าพเจ้าได้กล่าวไว้ในวรรคความรับผิดชอบของผู้สอบบัญชีต่อการตรวจสอบงบการเงินในรายงานของข้าพเจ้า ข้าพเจ้ามีความเป็นอิสระจากบริษัทตามข้อกำหนดจรรยาบรรณของผู้ประกอบวิชาชีพบัญชีที่กำหนดโดยสภาวิชาชีพบัญชี ในส่วนที่เกี่ยวข้องกับการตรวจสอบงบการเงิน และข้าพเจ้าได้ปฏิบัติตามความรับผิดชอบด้านจรรยาบรรณอื่นๆ ซึ่งเป็นไปตามข้อกำหนดเหล่านี้ ข้าพเจ้าเชื่อว่าหลักฐานการสอบบัญชีที่ข้าพเจ้าได้รับเพียงพอและเหมาะสมเพื่อใช้เป็นเกณฑ์ในการแสดงความเห็นของข้าพเจ้า
                                            </div>

                                            <div class="col-12 draft-text-indent mt-3"> <strong>ความรับผิดชอบของผู้บริหารต่องบการเงิน</strong></div>
                                            <div class="col-12 draft-text-indent">
                                                ผู้บริหารมีหน้าที่รับผิดชอบในการจัดทำและนำเสนองบการเงินเหล่านี้โดยถูกต้องตามที่ควรตามมาตรฐานการรายงานทางการเงินสำหรับกิจการที่ไม่มีส่วนได้เสียสาธารณะ และรับผิดชอบเกี่ยวกับการควบคุมภายในที่ผู้บริหารพิจารณาว่าจำเป็นเพื่อให้สามารถจัดทำงบการเงินที่ปราศจากการแสดงข้อมูลที่ขัดต่อข้อเท็จจริงอันเป็นสาระสำคัญไม่ว่าจะเกิดจากการทุจริตหรือข้อผิดพลาด
                                            </div>
                                            <div class="col-12 draft-text-indent">
                                                ในการจัดทำงบการเงิน ผู้บริหารรับผิดชอบในการประเมินความสามารถของบริษัทในการดำเนินงานต่อเนื่องเปิดเผยเรื่องที่เกี่ยวกับการดำเนินงานต่อเนื่อง (ตามความเหมาะสม) และการใช้เกณฑ์การบัญชีสำหรับการดำเนินงานต่อเนื่องเว้นแต่ผู้บริหารมีความตั้งใจที่จะเลิกบริษัทหรือหยุดดำเนินงานหรือไม่สามารถดำเนินงานต่อเนื่องต่อไปได้
                                            </div>

                                            <div class="col-12 draft-text-indent mt-3"> <strong>ความรับผิดชอบของผู้สอบบัญชีต่อการตรวจสอบงบการเงิน</strong></div>
                                            <div class="col-12 draft-text-indent">
                                                การตรวจสอบของข้าพเจ้ามีวัตถุประสงค์เพื่อให้ได้ความเชื่อมั่นอย่างสมเหตุสมผลว่างบการเงินโดยรวมปราศจากการแสดงข้อมูลที่ขัดต่อข้อเท็จจริงอันเป็นสาระสำคัญหรือไม่ ไม่ว่าจะเกิดจากการทุจริตหรือข้อผิดพลาด และเสนอรายงานของผู้สอบบัญชีซึ่งรวมความเห็นของข้าพเจ้าอยู่ด้วย ความเชื่อมั่นอย่างสมเหตุสมผลคือความเชื่อมั่นในระดับสูงแต่ไม่ได้เป็นการรับประกันว่าการปฏิบัติงานตรวจสอบตามมาตรฐานการสอบบัญชีจะสามารถตรวจพบข้อมูลที่ขัดต่อข้อเท็จจริงอันเป็นสาระสำคัญที่มีอยู่ได้เสมอไป ข้อมูลที่ขัดต่อข้อเท็จจริงอาจเกิดจากการทุจริตหรือข้อผิดพลาดและถือว่ามีสาระสำคัญเมื่อคาดการณ์ได้อย่างสมเหตุสมผลว่ารายการที่ขัดต่อข้อเท็จจริงแต่ละรายการหรือทุกรายการรวมกันจะมีผลต่อการตัดสินใจทางเศรษฐกิจของผู้ใช้งบการเงินจากการใช้งบการเงินเหล่านี้
                                            </div>
                                            <div class="col-12 draft-text-indent">
                                                ในการตรวจสอบของข้าพเจ้าตามมาตรฐานการสอบบัญชี ข้าพเจ้าได้ใช้ดุลยพินิจและการสังเกตและสงสัยเยี่ยงผู้ประกอบวิชาชีพตลอดการตรวจสอบ การปฏิบัติงานของข้าพเจ้ารวมถึง
                                            </div>
                                            <div class="col-12 ">
                                                <ul class="draft-ul">
                                                    <li>
                                                        ระบุและประเมินความเสี่ยงจากการแสดงข้อมูลที่ขัดต่อข้อเท็จจริงอันเป็นสาระสำคัญในงบการเงินไม่ว่าจะเกิดจากการทุจริตหรือข้อผิดพลาด ออกแบบและปฏิบัติงานตามวิธีการตรวจสอบเพื่อตอบสนองต่อความเสี่ยงเหล่านั้น และได้หลักฐานการสอบบัญชีที่เพียงพอและเหมาะสมเพื่อเป็นเกณฑ์ในการแสดงความเห็นของข้าพเจ้า ความเสี่ยงที่ไม่พบข้อมูลที่ขัดต่อข้อเท็จจริงอันเป็นสาระสำคัญซึ่งเป็นผลมาจากการทุจริตจะสูงกว่าความเสี่ยงที่เกิดจากข้อผิดพลาด เนื่องจากการทุจริตอาจเกี่ยวกับการสมรู้ร่วมคิด การปลอมแปลงเอกสารหลักฐาน การตั้งใจละเว้นการแสดงข้อมูล การแสดงข้อมูลที่ไม่ตรงตามข้อเท็จจริงหรือการแทรกแซงการควบคุมภายใน
                                                    </li>
                                                    <li>
                                                        ทำความเข้าใจในระบบการควบคุมภายในที่เกี่ยวข้องกับการตรวจสอบ เพื่อออกแบบวิธีการตรวจสอบที่เหมาะสมกับสถานการณ์ แต่ไม่ใช่เพื่อวัตถุประสงค์ในการแสดงความเห็นต่อความมีประสิทธิผลของการควบคุมภายในของบริษัท
                                                    </li>
                                                    <li>
                                                        ประเมินความเหมาะสมของนโยบายการบัญชีที่ผู้บริหารใช้และความสมเหตุสมผลของประมาณการทางบัญชีและการเปิดเผยข้อมูลที่เกี่ยวข้องซึ่งจัดทำขึ้นโดยผู้บริหาร
                                                    </li>
                                                    <li>
                                                        สรุปเกี่ยวกับความเหมาะสมของการใช้เกณฑ์การบัญชีสำหรับการดำเนินงานต่อเนื่องของผู้บริหารและจากหลักฐานการสอบบัญชีที่ได้รับ สรุปว่ามีความไม่แน่นอนที่มีสาระสำคัญที่เกี่ยวกับเหตุการณ์หรือสถานการณ์ที่อาจเป็นเหตุให้เกิดข้อสงสัยอย่างมีนัยสำคัญต่อความสามารถของบริษัทในการดำเนินงานต่อเนื่องหรือไม่ ถ้าข้าพเจ้าได้ข้อสรุปว่ามีความไม่แน่นอนที่มีสาระสำคัญ ข้าพเจ้าต้องกล่าวไว้ในรายงานของผู้สอบบัญชีของข้าพเจ้าโดยให้ข้อสังเกตถึงการเปิดเผยข้อมูลในงบการเงินที่เกี่ยวข้อง หรือถ้าการเปิดเผยดังกล่าวไม่เพียงพอ ความเห็นของข้าพเจ้าจะเปลี่ยนแปลงไป ข้อสรุปของข้าพเจ้าขึ้นอยู่กับหลักฐานการสอบบัญชีที่ได้รับจนถึงวันที่ในรายงานของผู้สอบบัญชีของข้าพเจ้า อย่างไรก็ตาม เหตุการณ์หรือสถานการณ์ในอนาคตอาจเป็นเหตุให้บริษัทต้องหยุดการดำเนินงานต่อเนื่อง
                                                    </li>
                                                    <li>
                                                        ประเมินการนำเสนอ โครงสร้างและเนื้อหาของงบการเงินโดยรวม รวมถึงการเปิดเผยข้อมูลว่างบการเงินแสดงรายการและเหตุการณ์ในรูปแบบที่ทำให้มีการนำเสนอข้อมูลโดยถูกต้องตามที่ควรหรือไม่
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-12 draft-text-indent">
                                                ข้าพเจ้าได้สื่อสารกับผู้บริหารในเรื่องต่างๆ ที่สำคัญ ซึ่งรวมถึงขอบเขตและช่วงเวลาของการตรวจสอบตามที่ได้วางแผนไว้ ประเด็นที่มีนัยสำคัญที่พบจากการตรวจสอบ รวมถึงข้อบกพร่องที่มีนัยสำคัญในระบบการควบคุมภายในหากข้าพเจ้าได้พบในระหว่างการตรวจสอบของข้าพเจ้า
                                            </div>
                                            <div class="row justify-content-end">
                                                <div class="col-5 draft-sign">
                                                    (นางสาวดุลวรรณ์ สกุลดี) <br />
                                                    ผู้สอบบัญชีรับอนุญาตเลขทะเบียน 6924
                                                </div>
                                            </div>
                                        </div>
                                    </address>
                                </div>

                            </div>
                            <div class="pagebreak"> </div>
                        </page>
                        <!-- End Audit -->
                        <!-- Start Asset -->
                        <page size="A4" id="divPrint1">
                             <hr class="noPrint hr-section">
                            <div class="row">
                                <div class="col-12">
                                    <div class="draft-top-title">
                                        <h4 class="font-size-16"><strong>{{TablePeriod.Customer.Name}}</strong></h4>
                                        <h4 class="font-size-16"><strong>งบแสดงฐานะการเงิน</strong></h4>
                                        <h4 class="font-size-16"><strong>ณ วันที่ 31 ธันวาคม พ.ศ. 2566</strong></h4>
                                    </div>
                                </div>
                            </div>
                            <hr class="hr-section">
                            <div class="row">
                                <div class="col-6">
                                </div>
                                <div class="col-2">
                                    <div class="row">
                                        <div class="remark">
                                            หมายเหตุ
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 text-end">
                                    <div class="row">
                                        <div class="unit-point">
                                            หน่วย : บาท
                                        </div>
                                    </div>
                                    <div class="row year-point">
                                        <div class="col-5">{{TablePeriod.Year}}</div>
                                        <div class="col-1"></div>
                                        <div class="col-5">{{TablePeriod.MapYear}}</div>
                                        <div class="col-1"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8">
                                    <address>
                                        <div class="row">
                                            <div class="col-12 draft-title"> <strong>สินทรัพย์หมุนเวียน</strong></div>
                                        </div>
                                        <div class="row" ng-repeat="asset in TablePeriod.Asset">
                                            <div class="col-12 draft-sub-title">
                                                {{asset.Name}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 draft-title">
                                                <strong>รวมสินทรัพย์หมุนเวียน</strong>
                                            </div>
                                        </div>
                                    </address>
                                </div>
                                <div class="col-4 text-end">
                                    <div class="row">
                                        <div class="col-12 draft-detail-first"> </div>
                                    </div>
                                    <div class="row" ng-repeat="asset in TablePeriod.Asset">
                                        <div class="col-5 draft-detail" ng-class="{ 'draft-sum-detail' : $last }">{{asset.Audit | number : 2}}</div>
                                        <div class="col-1 draft-detail" ng-class="{ 'draft-sum-detail' : $last }"></div>
                                        <div class="col-5 draft-detail" ng-class="{ 'draft-sum-detail' : $last }">{{asset.Previous | number : 2}}</div>
                                        <div class="col-1 draft-detail" ng-class="{ 'draft-sum-detail' : $last }"></div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-5 draft-sum-detail">{{TablePeriod.Footer.Asset.Audit | number : 2}}</div>
                                        <div class="col-1 draft-sum-detail"></div>
                                        <div class="col-5 draft-sum-detail">{{TablePeriod.Footer.Asset.Previous | number : 2}}</div>
                                        <div class="col-1 draft-sum-detail"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8">
                                    <address>
                                        <div class="row">
                                            <div class="col-12 draft-title"> <strong>สินทรัพย์ไม่หมุนเวียน</strong></div>
                                        </div>
                                        <div class="row" ng-repeat="nonasset in TablePeriod.NonAsset">
                                            <div class="col-12 draft-sub-title">
                                                {{nonasset.Name}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 draft-title">
                                                <strong>รวมสินทรัพย์ไม่หมุนเวียน</strong>
                                            </div>
                                        </div>
                                    </address>
                                </div>
                                <div class="col-4 text-end">
                                    <div class="row">
                                        <div class="col-12 draft-detail-first"> </div>
                                    </div>
                                    <div class="row" ng-repeat="nonasset in TablePeriod.NonAsset">
                                        <div class="col-5 draft-detail" ng-class="{ 'draft-sum-detail' : $last }">{{nonasset.Audit | number : 2}}</div>
                                        <div class="col-1 draft-detail" ng-class="{ 'draft-sum-detail' : $last }"></div>
                                        <div class="col-5 draft-detail" ng-class="{ 'draft-sum-detail' : $last }">{{nonasset.Previous | number : 2}}</div>
                                        <div class="col-1 draft-detail" ng-class="{ 'draft-sum-detail' : $last }"></div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-5 draft-sum-detail">{{TablePeriod.Footer.NonAsset.Audit | number : 2}}</div>
                                        <div class="col-1 draft-sum-detail"></div>
                                        <div class="col-5 draft-sum-detail">{{TablePeriod.Footer.NonAsset.Previous | number : 2}}</div>
                                        <div class="col-1 draft-sum-detail"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8">
                                    <address>
                                        <div class="row">
                                            <div class="col-12 draft-title">
                                                <strong>รวมสินทรัพย์</strong>
                                            </div>
                                        </div>
                                    </address>
                                </div>
                                <div class="col-4 text-end">
                                    <div class="row ">
                                        <div class="col-5 draft-sum-lasted-detail">{{TablePeriod.Footer.SumAsset.Audit | number : 2}}</div>
                                        <div class="col-1 draft-sum-lasted-detail"></div>
                                        <div class="col-5 draft-sum-lasted-detail">{{TablePeriod.Footer.SumAsset.Previous | number : 2}}</div>
                                        <div class="col-1 draft-sum-lasted-detail"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <address>
                                        <div class="row">
                                            <div class="col-12 draft-footer">
                                                หมายเหตุประกอบงบการเงินเป็นส่วนหนึ่งของงบการเงินนี้
                                            </div>
                                        </div>
                                    </address>
                                </div>
                            </div>
                            <div class="pagebreak"> </div>
                        </page>
                        <!-- End Asset -->
                        <!-- Start Debt -->
                        <page size="A4" id="divPrint2">
                            <div class="row">
                                <div class="col-12">
                                    <hr class="noPrint hr-section">
                                    <div class="draft-top-title">
                                        <h4 class="font-size-16"><strong>{{TablePeriod.Customer.Name}}</strong></h4>
                                        <h4 class="font-size-16"><strong>งบแสดงฐานะการเงิน (ต่อ)</strong></h4>
                                        <h4 class="font-size-16"><strong>ณ วันที่ 31 ธันวาคม พ.ศ. 2566</strong></h4>
                                    </div>
                                    <hr class="hr-section">
                                    <!-- Start Liabilities / NonLiabilities -->
                                    <div class="row">
                                        <div class="col-6">
                                        </div>
                                        <div class="col-2">
                                            <div class="row">
                                                <div class="remark">
                                                    หมายเหตุ
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4 text-end">
                                            <div class="row">
                                                <div class="unit-point">
                                                    หน่วย : บาท
                                                </div>
                                            </div>
                                            <div class="row year-point">
                                                <div class="col-5">{{TablePeriod.Year}}</div>
                                                <div class="col-1"></div>
                                                <div class="col-5">{{TablePeriod.MapYear}}</div>
                                                <div class="col-1"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-8">
                                            <address>
                                                <div class="row">
                                                    <div class="col-12 draft-title"> <strong>หนี้สินหมุนเวียน</strong></div>
                                                </div>
                                                <div class="row" ng-repeat="asset in TablePeriod.Liabilities">
                                                    <div class="col-12 draft-sub-title">
                                                        {{asset.Name}}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 draft-title">
                                                        <strong>รวมหนี้สินหมุนเวียน</strong>
                                                    </div>
                                                </div>
                                            </address>
                                        </div>
                                        <div class="col-4 text-end">
                                            <div class="row">
                                                <div class="col-12 draft-detail-first"> </div>
                                            </div>
                                            <div class="row" ng-repeat="asset in TablePeriod.Liabilities">
                                                <div class="col-5 draft-detail" ng-class="{ 'draft-sum-detail' : $last }">{{asset.Audit | number : 2}}</div>
                                                <div class="col-1 draft-detail" ng-class="{ 'draft-sum-detail' : $last }"></div>
                                                <div class="col-5 draft-detail" ng-class="{ 'draft-sum-detail' : $last }">{{asset.Previous | number : 2}}</div>
                                                <div class="col-1 draft-detail" ng-class="{ 'draft-sum-detail' : $last }"></div>
                                            </div>
                                            <div class="row ">
                                                <div class="col-5 draft-sum-detail">{{TablePeriod.Footer.Liabilities.Audit | number : 2}}</div>
                                                <div class="col-1 draft-sum-detail"></div>
                                                <div class="col-5 draft-sum-detail">{{TablePeriod.Footer.Liabilities.Previous | number : 2}}</div>
                                                <div class="col-1 draft-sum-detail"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-8">
                                            <address>
                                                <div class="row">
                                                    <div class="col-12 draft-title"> <strong>หนี้สินไม่หมุนเวียน</strong></div>
                                                </div>
                                                <div class="row" ng-repeat="nonasset in TablePeriod.NonLiabilities">
                                                    <div class="col-12 draft-sub-title">
                                                        {{nonasset.Name}}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 draft-title">
                                                        <strong>รวมหนี้สินไม่หมุนเวียน</strong>
                                                    </div>
                                                </div>
                                            </address>
                                        </div>
                                        <div class="col-4 text-end">
                                            <div class="row">
                                                <div class="col-12 draft-detail-first"> </div>
                                            </div>
                                            <div class="row" ng-repeat="nonasset in TablePeriod.NonLiabilities">
                                                <div class="col-5 draft-detail" ng-class="{ 'draft-sum-detail' : $last }">{{nonasset.Audit | number : 2}}</div>
                                                <div class="col-1 draft-detail" ng-class="{ 'draft-sum-detail' : $last }"></div>
                                                <div class="col-5 draft-detail" ng-class="{ 'draft-sum-detail' : $last }">{{nonasset.Previous | number : 2}}</div>
                                                <div class="col-1 draft-detail" ng-class="{ 'draft-sum-detail' : $last }"></div>
                                            </div>
                                            <div class="row ">
                                                <div class="col-5 draft-sum-detail">{{TablePeriod.Footer.NonLiabilities.Audit | number : 2}}</div>
                                                <div class="col-1 draft-sum-detail"></div>
                                                <div class="col-5 draft-sum-detail">{{TablePeriod.Footer.NonLiabilities.Previous | number : 2}}</div>
                                                <div class="col-1 draft-sum-detail"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-8">
                                            <address>
                                                <div class="row">
                                                    <div class="col-12 draft-title">
                                                        <strong>รวมหนี้สิน</strong>
                                                    </div>
                                                </div>
                                            </address>
                                        </div>
                                        <div class="col-4 text-end">
                                            <div class="row ">
                                                <div class="col-5 draft-sum-lasted-detail">{{TablePeriod.Footer.SumLiabilities.Audit | number : 2}}</div>
                                                <div class="col-1 draft-sum-lasted-detail"></div>
                                                <div class="col-5 draft-sum-lasted-detail">{{TablePeriod.Footer.SumLiabilities.Previous | number : 2}}</div>
                                                <div class="col-1 draft-sum-lasted-detail"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Liabilities / NonLiabilities -->
                                    <!-- Start ShareHolder -->
                                    <div class="row">
                                        <div class="col-8">
                                            <address>
                                                <div class="row">
                                                    <div class="col-12 draft-title"> <strong>ส่วนของผู้ถือหุ้น</strong></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 draft-sub-title">
                                                        ทุนจดทะเบียน หุ้นสามัญ {{TablePeriod.Customer.RegisteredCapital  | number :0}} หุ้น มูลค่าหุ้นละ {{TablePeriod.Customer.PriceStock  | number :0}} บาท
                                                    </div>
                                                </div>
                                                <div class="row" ng-repeat="asset in TablePeriod.Shareholder">
                                                    <div class="col-12 draft-sub-title">
                                                        {{asset.Name}}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 draft-title">
                                                        <strong>รวมส่วนของผู้ถือหุ้น</strong>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 draft-title">
                                                        <strong>รวมหนี้สินและส่วนของผู้ถือหุ้น</strong>
                                                    </div>
                                                </div>
                                            </address>
                                        </div>
                                        <div class="col-4 text-end">
                                            <div class="row">
                                                <div class="col-12 draft-detail-first"> </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-5 draft-sum-lasted-detail">{{TablePeriod.Customer.TotalRegistered | number :2}}</div>
                                                <div class="col-1 draft-sum-lasted-detail"></div>
                                                <div class="col-5 draft-sum-lasted-detail">{{TablePeriod.Customer.TotalRegistered | number :2}}</div>
                                                <div class="col-1 draft-sum-lasted-detail"></div>
                                            </div>
                                            <div class="row" ng-repeat="asset in TablePeriod.Shareholder">
                                                <div class="col-5 draft-detail" ng-class="{ 'draft-sum-detail' : $last }">{{asset.Audit | number : 2}}</div>
                                                <div class="col-1 draft-detail" ng-class="{ 'draft-sum-detail' : $last }"></div>
                                                <div class="col-5 draft-detail" ng-class="{ 'draft-sum-detail' : $last }">{{asset.Previous | number : 2}}</div>
                                                <div class="col-1 draft-detail" ng-class="{ 'draft-sum-detail' : $last }"></div>
                                            </div>
                                            <div class="row ">
                                                <div class="col-5 draft-sum-detail">{{TablePeriod.Footer.Shareholder.Audit | number : 2}}</div>
                                                <div class="col-1 draft-sum-detail"></div>
                                                <div class="col-5 draft-sum-detail">{{TablePeriod.Footer.Shareholder.Previous | number : 2}}</div>
                                                <div class="col-1 draft-sum-detail"></div>
                                            </div>
                                            <div class="row ">
                                                <div class="col-5 draft-sum-lasted-detail">{{TablePeriod.Footer.SumLiqShare.Audit | number : 2}}</div>
                                                <div class="col-1 draft-sum-lasted-detail"></div>
                                                <div class="col-5 draft-sum-lasted-detail">{{TablePeriod.Footer.SumLiqShare.Previous | number : 2}}</div>
                                                <div class="col-1 draft-sum-lasted-detail"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End ShareHolder -->
                                    <div class="row">
                                        <div class="col-12">
                                            <address>
                                                <div class="row">
                                                    <div class="col-12 draft-footer">
                                                        หมายเหตุประกอบงบการเงินเป็นส่วนหนึ่งของงบการเงินนี้
                                                    </div>
                                                </div>
                                            </address>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pagebreak"> </div>
                        </page>
                        <!-- End Debt -->
                        <!-- Start Income -->
                        <page size="A4" id="divPrint3">
                            <div class="row">
                                <div class="col-12">
                                    <hr class="noPrint hr-section">
                                    <div class="draft-top-title">
                                        <h4 class="font-size-16"><strong>{{TablePeriod.Customer.Name}}</strong></h4>
                                        <h4 class="font-size-16"><strong>งบกำไรขาดทุน</strong></h4>
                                        <h4 class="font-size-16"><strong>ณ วันที่ 31 ธันวาคม พ.ศ. 2566</strong></h4>
                                    </div>
                                    <hr class="hr-section">
                                    <div class="row">
                                        <div class="col-6">
                                        </div>
                                        <div class="col-2">
                                            <div class="row">
                                                <div class="remark">
                                                    หมายเหตุ
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4 text-end">
                                            <div class="row">
                                                <div class="unit-point">
                                                    หน่วย : บาท
                                                </div>
                                            </div>
                                            <div class="row year-point">
                                                <div class="col-5">{{TablePeriod.Year}}</div>
                                                <div class="col-1"></div>
                                                <div class="col-5">{{TablePeriod.MapYear}}</div>
                                                <div class="col-1"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-8">
                                            <address>
                                                <div class="row">
                                                    <div class="col-12 draft-title"> <strong>รายได้</strong></div>
                                                </div>
                                                <div class="row" ng-repeat="asset in TablePeriod.Revenues">
                                                    <div class="col-12 draft-sub-title">
                                                        {{asset.Name}}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 draft-title">
                                                        <strong>รวมรายได้</strong>
                                                    </div>
                                                </div>
                                            </address>
                                        </div>
                                        <div class="col-4 text-end">
                                            <div class="row">
                                                <div class="col-12 draft-detail-first"> </div>
                                            </div>
                                            <div class="row" ng-repeat="asset in TablePeriod.Revenues">
                                                <div class="col-5 draft-detail" ng-class="{ 'draft-sum-detail' : $last }">{{asset.Audit | number : 2}}</div>
                                                <div class="col-1 draft-detail" ng-class="{ 'draft-sum-detail' : $last }"></div>
                                                <div class="col-5 draft-detail" ng-class="{ 'draft-sum-detail' : $last }">{{asset.Previous | number : 2}}</div>
                                                <div class="col-1 draft-detail" ng-class="{ 'draft-sum-detail' : $last }"></div>
                                            </div>
                                            <div class="row ">
                                                <div class="col-5 draft-sum-detail">{{TablePeriod.Footer.Revenues.Audit | number : 2}}</div>
                                                <div class="col-1 draft-sum-detail"></div>
                                                <div class="col-5 draft-sum-detail">{{TablePeriod.Footer.Revenues.Previous | number : 2}}</div>
                                                <div class="col-1 draft-sum-detail"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-8">
                                            <address>
                                                <div class="row">
                                                    <div class="col-12 draft-title"> <strong>ค่าใช้จ่าย</strong></div>
                                                </div>
                                                <div class="row" ng-repeat="nonasset in TablePeriod.Expenses">
                                                    <div class="col-12 draft-sub-title">
                                                        {{nonasset.Name}}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 draft-title">
                                                        <strong>รวมค่าใช้จ่าย</strong>
                                                    </div>
                                                </div>
                                            </address>
                                        </div>
                                        <div class="col-4 text-end">
                                            <div class="row">
                                                <div class="col-12 draft-detail-first"> </div>
                                            </div>
                                            <div class="row" ng-repeat="nonasset in TablePeriod.Expenses">
                                                <div class="col-5 draft-detail" ng-class="{ 'draft-sum-detail' : $last }">{{nonasset.Audit | number : 2}}</div>
                                                <div class="col-1 draft-detail" ng-class="{ 'draft-sum-detail' : $last }"></div>
                                                <div class="col-5 draft-detail" ng-class="{ 'draft-sum-detail' : $last }">{{nonasset.Previous | number : 2}}</div>
                                                <div class="col-1 draft-detail" ng-class="{ 'draft-sum-detail' : $last }"></div>
                                            </div>
                                            <div class="row ">
                                                <div class="col-5 draft-sum-detail">{{TablePeriod.Footer.Expenses.Audit | number : 2}}</div>
                                                <div class="col-1 draft-sum-detail"></div>
                                                <div class="col-5 draft-sum-detail">{{TablePeriod.Footer.Expenses.Previous | number : 2}}</div>
                                                <div class="col-1 draft-sum-detail"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-8">
                                            <address>
                                                <div class="row">
                                                    <div class="col-12 draft-title">
                                                        <strong>กำไร(ขาดทุน) ก่อนต้นทุนทางการเงินและค่าใช้จ่ายภาษีเงินได้</strong>
                                                    </div>
                                                </div>
                                                <div class="row" ng-repeat="nonasset in TablePeriod.Financecosts">
                                                    <div class="col-12 draft-sub-title">
                                                        {{nonasset.Name}}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 draft-title">
                                                        <strong>กำไร(ขาดทุน) สุทธิ</strong>
                                                    </div>
                                                </div>
                                            </address>
                                        </div>
                                        <div class="col-4 text-end">
                                            <div class="row">
                                                <div class="col-5 draft-detail">0.00</div>
                                                <div class="col-1 draft-detail"></div>
                                                <div class="col-5 draft-detail">0.00</div>
                                                <div class="col-1 draft-detail"></div>
                                            </div>
                                            <div class="row" ng-repeat="nonasset in TablePeriod.Financecosts">
                                                <div class="col-5 draft-detail" ng-class="{ 'draft-sum-detail' : $last }">{{nonasset.Audit | number : 2}}</div>
                                                <div class="col-1 draft-detail" ng-class="{ 'draft-sum-detail' : $last }"></div>
                                                <div class="col-5 draft-detail" ng-class="{ 'draft-sum-detail' : $last }">{{nonasset.Previous | number : 2}}</div>
                                                <div class="col-1 draft-detail" ng-class="{ 'draft-sum-detail' : $last }"></div>
                                            </div>
                                            <div class="row ">
                                                <div class="col-5 draft-sum-lasted-detail">{{TablePeriod.Footer.SumAsset.Audit | number : 2}}</div>
                                                <div class="col-1 draft-sum-lasted-detail"></div>
                                                <div class="col-5 draft-sum-lasted-detail">{{TablePeriod.Footer.SumAsset.Previous | number : 2}}</div>
                                                <div class="col-1 draft-sum-lasted-detail"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <address>
                                                <div class="row">
                                                    <div class="col-12 draft-footer">
                                                        หมายเหตุประกอบงบการเงินเป็นส่วนหนึ่งของงบการเงินนี้
                                                    </div>
                                                </div>
                                            </address>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pagebreak"> </div>
                        </page>
                        <!-- End Income -->
                        <!-- Start Profit -->
                        <page size="A4" id="divPrint4">
                            <div class="row">
                                <div class="col-12">
                                    <hr class="noPrint hr-section">
                                    <div class="draft-top-title">
                                        <h4 class="font-size-16"><strong>{{TablePeriod.Customer.Name}}</strong></h4>
                                        <h4 class="font-size-16"><strong>งบแสดงการเปลี􀃉ยนแปลงส่วนของผู้ถือหุ้น</strong></h4>
                                        <h4 class="font-size-16"><strong>ณ วันที่ 31 ธันวาคม พ.ศ. 2566</strong></h4>
                                    </div>
                                    <hr class="hr-section">
                                    <div class="row">
                                        <div class="col-4">
                                        </div>
                                        <div class="col-2">
                                            <div class="row">
                                                <div class="remark">
                                                    หมายเหตุ
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 text-end">
                                            <div class="row">
                                                <div class="unit-point">
                                                    หน่วย : บาท
                                                </div>
                                            </div>
                                            <div class="row year-point">
                                                <div class="col-3">ทุนเรือนหุ้น ที้ออกและชำระแล้ว</div>
                                                <div class="col-1"></div>
                                                <div class="col-3">กำไร (ขาดทุน) สะสม</div>
                                                <div class="col-1"></div>
                                                <div class="col-3">รวม</div>
                                                <div class="col-1"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <address>
                                                <div class="row">
                                                    <div class="col-12 draft-title"> <strong>ยอดคงเหลือ ณ ต้นปี {{$scope.TablePeriod.MapYear}}</strong></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 draft-title"> <strong>การเปลี่ยนแปลงในส่วนของผู้ถือหุ้นสำหรับปี {{$scope.TablePeriod.MapYear}}</strong></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12  draft-sub-title">
                                                        กำไร(ขาดทุน)สุทธิสำหรับปี
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 draft-title"> <strong>ยอดคงเหลือ ณ สิ้นปี {{$scope.TablePeriod.MapYear}}</strong></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 draft-title"> <strong>การเปลี่ยนแปลงในส่วนของผู้ถือหุ้นสำหรับปี {{$scope.TablePeriod.Year}}</strong></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12  draft-sub-title">
                                                        กำไร(ขาดทุน)สุทธิสำหรับปี
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 draft-title"> <strong>ยอดคงเหลือ ณ สิ้นปี {{$scope.TablePeriod.Year}}</strong></div>
                                                </div>
                                            </address>
                                        </div>
                                        <div class="col-6 text-end">
                                            <div class="row">
                                                <div class="col-3 draft-detail">0.00</div>
                                                <div class="col-1 draft-detail"></div>
                                                <div class="col-3 draft-detail">0.00</div>
                                                <div class="col-1 draft-detail"></div>
                                                <div class="col-3 draft-detail">0.00</div>
                                                <div class="col-1 draft-detail"></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 draft-detail-first"> </div>
                                            </div>
                                            <div class="row ">
                                                <div class="col-3 draft-sum-detail">0.00</div>
                                                <div class="col-1 draft-sum-detail"></div>
                                                <div class="col-3 draft-sum-detail">0.00</div>
                                                <div class="col-1 draft-sum-detail"></div>
                                                <div class="col-3 draft-sum-detail">0.00</div>
                                                <div class="col-1 draft-sum-detail"></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-3 draft-detail"><strong>0.00</strong></div>
                                                <div class="col-1 draft-detail"></div>
                                                <div class="col-3 draft-detail"><strong>0.00</strong></div>
                                                <div class="col-1 draft-detail"></div>
                                                <div class="col-3 draft-detail"><strong>0.00</strong></div>
                                                <div class="col-1 draft-detail"></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 draft-detail-first"> </div>
                                            </div>
                                            <div class="row ">
                                                <div class="col-3 draft-sum-detail">0.00</div>
                                                <div class="col-1 draft-sum-detail"></div>
                                                <div class="col-3 draft-sum-detail">0.00</div>
                                                <div class="col-1 draft-sum-detail"></div>
                                                <div class="col-3 draft-sum-detail">0.00</div>
                                                <div class="col-1 draft-sum-detail"></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-3 draft-sum-lasted-detail"><strong>0.00</strong></div>
                                                <div class="col-1 draft-sum-lasted-detail"></div>
                                                <div class="col-3 draft-sum-lasted-detail"><strong>0.00</strong></div>
                                                <div class="col-1 draft-sum-lasted-detail"></div>
                                                <div class="col-3 draft-sum-lasted-detail"><strong>0.00</strong></div>
                                                <div class="col-1 draft-sum-lasted-detail"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <address>
                                                <div class="row">
                                                    <div class="col-12 draft-footer">
                                                        หมายเหตุประกอบงบการเงินเป็นส่วนหนึ่งของงบการเงินนี้
                                                    </div>
                                                </div>
                                            </address>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pagebreak"> </div>
                        </page>
                        <!-- End Profit -->
                        <!-- Start Remark 1-3 -->
                        <page size="A4" id="divPrint5">
                            <table>
                                <thead>
                                    <tr>
                                        <th>
                                            <div class="header">
                                                <hr class="noPrint hr-section">
                                                <div class="draft-top-title">
                                                    <h4 class="font-size-16"><strong>{{TablePeriod.Customer.Name}}</strong></h4>
                                                    <h4 class="font-size-16"><strong>หมายเหตุประกอบงบการเงิน</strong></h4>
                                                    <h4 class="font-size-16"><strong>ณ วันที่ 31 ธันวาคม พ.ศ. 2566</strong></h4>
                                                </div>
                                                <hr class="hr-section">
                                            </div>
                                        </th>
                                    </tr>
                                <thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <!-- Start Remark 1 -->
                                            <div class="row">
                                                <div class="col-12 d-flex gap-3">
                                                    <div class="draft-number"><strong>1</strong></div>
                                                    <div class="draft-title"><strong>ข้อมูลทั่วไป</strong></div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="draft-title draft-start-remark"><strong>สถานะของบริษัท</strong></div>
                                                </div>
                                                <div class="col-8">
                                                    <div class="draft-title draft-start-remark">บริษัท ตัวอย่าง จำกัด " บริษัท " จัดตั้งขึ้นเป็นบริษัทจำกัดตามกฎหมายไทย จดทะเบียน</div>
                                                </div>
                                                <div class="col-8">
                                                    <div class="draft-title draft-start-remark">จัดตั้งเมื่อวันที่ 1 มกราคม พ.ศ. 2543 เลขทะเบียน 010556666666</div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="draft-title draft-start-remark"><strong>สถานที่ตั้งบริษัท</strong></div>
                                                </div>
                                                <div class="col-8">
                                                    <div class="draft-title draft-start-remark">เลขที่ 1 ถนนนนทรี แขวงช่องนนทรี เขตยานนาวา กรุงเทพมหานคร</div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="draft-title draft-start-remark"><strong>ลักษณะธุรกิจและการดำเนินงาน</strong></div>
                                                </div>
                                                <div class="col-8">
                                                    <div class="draft-title draft-start-remark">
                                                        บริษัทมีวัตถุประสงค์ในการประกอบกิจการนำเข้าและจำหน่ายส่ง-ปลีกเครื่องใช้ไฟฟ้า เครื่องมือสื่อสารและ
                                                        บริการซ่อมบำรุงอุปกรณ์
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Remark 1 -->
                                            <!-- Start Remark 2 -->
                                            <div class="row">
                                                <div class="col-12 d-flex gap-3">
                                                    <div class="draft-number"><strong>2</strong></div>
                                                    <div class="draft-title"><strong>สรุปนโยบายการบัญชีที่สำคัญ</strong></div>
                                                </div>
                                                <!-- Start Paragraph -->
                                                <div class="col-12">
                                                    <div class="draft-title draft-start-remark"><strong>หลักเกณฑ์ในการจัดทำงบการเงิน</strong></div>
                                                </div>
                                                <div class="col-10">
                                                    <div class="draft-title draft-start-remark" ng-repeat="rule in ProgramRule.RuleDetail">
                                                        {{rule.Name}}<br /><br />
                                                    </div>
                                                </div>
                                                <!-- End Paragraph -->
                                            </div>
                                            <!-- End Remark 2 -->
                                            <!-- Start Remark 3 -->
                                            <div class="row">
                                                <div class="col-12 d-flex gap-3">
                                                    <div class="draft-number"><strong>3</strong></div>
                                                    <div class="draft-title"><strong>หลักเกณฑ์ในการจัดทำงบการเงิน</strong></div>
                                                </div>
                                                <!-- Start Policy -->
                                                <div ng-repeat="fsgroup in TablePeriod.FSGroups">
                                                    <div ng-repeat="policy in fsgroup.Policys" ng-show="policy.IsPrint == 'Yes'">
                                                        <div class="col-10">
                                                            <div class="draft-title draft-start-remark"><strong>3.{{policy.Sequence}} {{policy.Subject}}</strong></div>
                                                        </div>
                                                        <div class="col-10">
                                                            <div class="draft-start-remark-detail">
                                                                <p ng-bind-html="policy.Description"></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End Policy -->
                                            </div>
                                            <!-- End Remark 3 -->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="pagebreak"> </div>
                        </page>
                        <!-- End Remark 1-3 -->
                        <!-- Start Remark 4 -->
                        <div ng-repeat="fsgroup in TablePeriod.FSGroups" ng-show="fsgroup.NoteToFS != undefined && fsgroup.NoteToFS.length > 0">
                            <page size="A4" id="divPrint6_{{fsgroup.Code}}">
                                <table class="table-width-100">
                                    <thead>
                                        <tr>
                                            <th>
                                                <div class="header">
                                                    <hr class="noPrint hr-section">
                                                    <div class="draft-top-title">
                                                        <h4 class="font-size-16"><strong>{{TablePeriod.Customer.Name}}</strong></h4>
                                                        <h4 class="font-size-16"><strong>หมายเหตุประกอบงบการเงิน</strong></h4>
                                                        <h4 class="font-size-16"><strong>ณ วันที่ 31 ธันวาคม พ.ศ. 2566</strong></h4>
                                                    </div>
                                                    <hr class="hr-section">
                                                </div>
                                            </th>
                                        </tr>
                                    <thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <!-- Start Remark 4 -->
                                                <div class="row">
                                                    <div class="col-12 d-flex gap-3">
                                                        <div class="draft-number"><strong>{{fsgroup.SequenceNote}}</strong></div>
                                                        <div class="draft-title"><strong>{{fsgroup.Name}}</strong></div>
                                                    </div>
                                                    <!-- Start Note to FS -->
                                                    <div ng-repeat="notefs in fsgroup.NoteToFS" ng-show="notefs.IsPrint == 'Yes' && notefs.IsLastPage == false">
                                                        <!-- Start Note to FS : Paragraph -->
                                                        <div class="row mt-4">
                                                            <div class="col-10" ng-show="notefs.NoteFstype =='Paragraph'">
                                                                <div class="draft-start-remark">
                                                                    <p ng-bind-html="notefs.NoteDetail"></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- End Note to FS : Paragraph-->
                                                        <!-- Start Note to FS : Get -->
                                                        <div ng-show="notefs.NoteFstype =='Get'" class="mt-4">
                                                            <div class="row">
                                                                <div class="col-8">
                                                                    <div class="draft-title draft-start-remark-get">ประกอบด้วย</div>
                                                                </div>
                                                                <div class="col-4 text-end">
                                                                    <div class="row">
                                                                        <div class="unit-point">
                                                                            หน่วย : บาท
                                                                        </div>
                                                                    </div>
                                                                    <div class="row year-point">
                                                                        <div class="col-5">{{TablePeriod.Year}}</div>
                                                                        <div class="col-1"></div>
                                                                        <div class="col-5">{{TablePeriod.MapYear}}</div>
                                                                        <div class="col-1"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row" ng-repeat="subgroup in notefs.SubGroups">
                                                                <div class="col-8 ">
                                                                    <div class="draft-start-remark-detail">{{subgroup.Name}}</div>
                                                                </div>
                                                                <div class="col-4 text-end">
                                                                    <div class="row">
                                                                        <div class="col-5 draft-start-remark-detail-table" ng-class="{ 'draft-sum-detail' : $last }">{{subgroup.Year  | number :2}}</div>
                                                                        <div class="col-1 draft-start-remark-detail-table" ng-class="{ 'draft-sum-detail' : $last }"></div>
                                                                        <div class="col-5 draft-start-remark-detail-table" ng-class="{ 'draft-sum-detail' : $last }">{{subgroup.After  | number :2}}</div>
                                                                        <div class="col-1 draft-start-remark-detail-table" ng-class="{ 'draft-sum-detail' : $last }"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-8 ">
                                                                    <div class="draft-start-remark-detail">รวม</div>
                                                                </div>
                                                                <div class="col-4 text-end">
                                                                    <div class="row">
                                                                        <div class="col-5 draft-sum-lasted-detail">{{notefs.SubGroups.SumYear | number :2}}</div>
                                                                        <div class="col-1 draft-sum-lasted-detail"></div>
                                                                        <div class="col-5 draft-sum-lasted-detail">{{notefs.SubGroups.SumMapYear  | number :2}}</div>
                                                                        <div class="col-1 draft-sum-lasted-detail"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- End Note to FS : Get-->
                                                        <!-- Start Note to FS : Table -->
                                                        <div ng-show="notefs.NoteFstype =='Table' && notefs.Screen == 'portrait'" class="mt-4">
                                                            <div class="row justify-content-end">
                                                                <div class="col-4 text-end">
                                                                    <div class="row">
                                                                        <div class="unit-point-before">
                                                                            หน่วย : บาท
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-12">
                                                                    <table class="draft-table" style="font-size:{{notefs.FontSize}}px;">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>
                                                                                    ประกอบด้วย
                                                                                </th>
                                                                                <th ng-repeat="header in notefs.HeaderJson" class="draft-table-header">
                                                                                    {{header}}
                                                                                </th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr ng-repeat="detail in notefs.Tables">
                                                                                <td>
                                                                                    {{detail.Description}}
                                                                                </td>
                                                                                <td ng-repeat="val in detail.DetailJson track by $index" width="{{notefs.HeaderWidth}}%">
                                                                                    {{val}}
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <!-- End Note to FS : Table-->
                                                        </div>
                                                    </div>
                                                    <!-- End Note to FS -->
                                                </div>
                                                <!-- End Remark 4 -->
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="pagebreak"> </div>
                            </page>
                            <page size="A4"  id="divPrint7_{{fsgroup.Code}}" ng-show="fsgroup.IsLandScape ==true">
                                <div class="landscape" ng-repeat="notefs in fsgroup.NoteToFS" ng-show="notefs.IsPrint == 'Yes' && notefs.IsLastPage == true">
                                    <table class="table-width-100">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <div class="header">
                                                        <hr class="noPrint hr-section">
                                                        <div class="draft-top-title">
                                                            <h4 class="font-size-16"><strong>{{TablePeriod.Customer.Name}}</strong></h4>
                                                            <h4 class="font-size-16"><strong>หมายเหตุประกอบงบการเงิน</strong></h4>
                                                            <h4 class="font-size-16"><strong>ณ วันที่ 31 ธันวาคม พ.ศ. 2566</strong></h4>
                                                        </div>
                                                        <hr class="hr-section">
                                                    </div>
                                                </th>
                                            </tr>
                                        <thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <!-- Start Remark 4 -->
                                                    <div class="row">
                                                        <!-- Start Note to FS -->
                                                        <!-- Start Note to FS : Table -->
                                                        <div ng-show="notefs.NoteFstype =='Table' && notefs.Screen == 'landscape'" class="mt-4">
                                                            <div class="row justify-content-end">
                                                                <div class="col-4 text-end">
                                                                    <div class="row">
                                                                        <div class="unit-point-before">
                                                                            หน่วย : บาท
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-12">
                                                                    <table class="draft-table" style="font-size:{{notefs.FontSize}}px;">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>
                                                                                    ประกอบด้วย
                                                                                </th>
                                                                                <th ng-repeat="header in notefs.HeaderJson" class="draft-table-header">
                                                                                    {{header}}
                                                                                </th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr ng-repeat="detail in notefs.Tables">
                                                                                <td>
                                                                                    {{detail.Description}}
                                                                                </td>
                                                                                <td ng-repeat="val in detail.DetailJson track by $index" ng-class="{ 'draft-sum-detail' : detail.IsUnderline == 'Yes' && val != ''&& val != undefined }" width="{{notefs.HeaderWidth}}%">
                                                                                    {{val}}
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <!-- End Note to FS : Table-->
                                                        </div>
                                                        <!-- End Note to FS -->
                                                    </div>
                                                    <!-- End Remark 4 -->
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="pagebreak"> </div>
                                </div>
                            </page>
                        </div>
                        <!-- End Remark 4 -->
                    </print>
                </div>
            </div>
        </div>
    </div>
     <div class="row">
        <div class="col-md-12">
            <div class="d-flex flex-wrap  justify-content-end">
                <button type="button" class="btn btn-primary waves-effect waves-light px-3 dropdown-toggle  mx-2 py-2 " ng-click="OnClickDirectToConfirm()">
                    <i class="mdi mdi-file-upload mx-2"></i> ยืนยันงบการเงิน
                </button>
            </div>
        </div>
    </div>
</div>
