@{
    Layout = null;
}

<div class="container-fluid" data-ng-init="initAdd()">

    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4>อัพโหลดเอกสาร</h4>
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">เอกสาร</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">อัพโหลดเอกสาร</a></li>
                </ol>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-xl-12">
            <div class="card ">
                <div class="card-body card-form">

                    <div class="row">
                        <div class="col-md-9">
                            <h2 class="card-title mb-2">ข้อมูลเอกสาร</h2>
                        </div>

                        <div class="col-lg-3 pl-0">
                            <div class="form-input">
                                <input id="name" class="form-element-input" type="text" placeholder="กรุณาระบุรหัส" ng-model="TableAdd.DocumentListCode" />
                                <div class="form-element-bar"></div>
                                <label class="form-element-label" for="name">รหัสเอกสาร</label>
                                <label class="form-element-required" for="name">* </label>
                            </div>
                        </div>

                        <!-- end col -->
                    </div>
                    <hr />
                    <div class="row row-form">
                        <div class="col-md-4">
                            <h4 class="card-title mb-2 font-weight-bold h4-flex"><i data-v-4e8aa93a="" class="color-circle"></i>ข้อมูลเเอกสาร</h4>
                        </div>
                        <div class="col-lg-4 pl-0">
                            <div class="form-input ">
                                <select select2 class="dropdown2 form-control" id="exampleFormControlSelect2" ng-options="item as item.Name for item in Parameter.DocumentStyle"
                                        ng-model="TableAdd.SelectDocumentStyle" ng-disabled="TableAdd.DocumentListId != undefined">
                                    <option value="" class="text-muted" selected style="display:none">กรุณาเลือก</option>
                                </select>
                                <label class="form-element-dropdown" for="name">รูปแบบเอกสาร</label>
                            </div>
                        </div>
                        <div class="col-lg-4 pl-0">
                            <div class="form-input ">
                                <select select2 class="dropdown2 form-control" id="exampleFormControlSelect2" ng-options="item as item.Name for item in Parameter.DocumentType"
                                        ng-model="TableAdd.SelectDocumentType">
                                    <option value="" class="text-muted" selected style="display:none">กรุณาเลือก</option>
                                </select>
                                <label class="form-element-dropdown" for="name">ประเภทเอกสาร</label>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row  row-form " ng-show="TableAdd.SelectDocumentStyle.Code == 'DS001' || TableAdd.SelectDocumentStyle == undefined">
                        <div class="col-md-4">
                            <h4 class="card-title mb-2 font-weight-bold h4-flex"><i class="color-circle"></i>อัพโหลด</h4>
                        </div>
                        <div class="col-lg-8 pl-0">
                            <input id="product_thumnail" type="file" ngf-select="UploadFiles($files)"
                                   data-max-file-size="3M" data-allowed-file-extensions="jpg png jpeg pdf xlsx xls" ng-disabled="TableAdd.DocumentListId != undefined" />
                        </div>
                    </div>
                    <div class="row  row-form " ng-show="TableAdd.SelectDocumentStyle.Code == 'DS002'">
                        <div class="col-md-4">
                            <h4 class="card-title mb-2 font-weight-bold h4-flex"><i class="color-circle"></i>แหล่งที่มาข้อมูล</h4>
                        </div>
                        <div class="col-lg-8 pl-0">
                            <div class="form-input">
                                <input class="form-element-input" type="url" placeholder="example* ( https://example.com )" ng-model="TableAdd.LinkPath" />
                                <div class="form-element-bar"></div>
                                <label class="form-element-label">ลิ้งค์</label>
                                <label class="form-element-required">* </label>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row row-form ">
                        <div class="col-md-4">
                            <h4 class="card-title mb-2 font-weight-bold h4-flex"><i class="color-circle"></i>หมายเหตุ</h4>
                        </div>
                        <div class="col-lg-8 pl-0">
                            <div class="form-input">
                                <textarea rows="5" id="name" class="form-element-input form-element-input-textarea" type="text" placeholder="กรุณาระบุหมายเหตุ" ng-model="TableAdd.Remark"></textarea>
                                <div class="form-element-bar"></div>
                                <label class="form-element-label" for="name">หมายเหตุ (ถ้ามี)</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-md-12">
                            <div class="d-flex flex-wrap gap-3 justify-content-end">
                                <button type="button" class="btn btn-light waves-effect px-5 py-2" ui-sref="customer-documentlist">ยกเลิก</button>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary  waves-effect waves-light px-3 py-2 aksorn f-1-2" ng-click="OnClickSave()">บันทึกเอกสาร</button>
                                    <button type="button" class="btn btn-primary   waves-effect waves-light px-2 py-1 dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="mdi mdi-chevron-down"></i>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop1" style="">
                                        <a class="dropdown-item cursor-pointer" ng-click="OnClickSave('back')">บันทึก และย้อนกลับ</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
